# Facebook Comments Plugin (Graph API v19.0+)
# Get your App ID at https://developers.facebook.com/apps/
# If left as PLACEHOLDER_APP_ID, the comments widget renders a notice instead.
PUBLIC_FB_APP_ID=PLACEHOLDER_APP_ID
